# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/*
main/resources/*
project/target/config-classes/$01fcbf56ec4f0c0291f9$$anonfun$$sbtdef$1$$anonfun$apply$1.class
project/target/config-classes/$01fcbf56ec4f0c0291f9$$anonfun$$sbtdef$1.class
project/target/config-classes/$01fcbf56ec4f0c0291f9$$anonfun$$sbtdef$2.class
project/target/config-classes/$01fcbf56ec4f0c0291f9$$anonfun$$sbtdef$3.class
project/target/config-classes/$01fcbf56ec4f0c0291f9$.class
project/target/config-classes/$01fcbf56ec4f0c0291f9.cache
project/target/config-classes/$01fcbf56ec4f0c0291f9.class
target/streams/$global/coursierArtifacts/
target/streams/$global/coursierClassifiersArtifacts/
target/streams/$global/coursierResolution/
target/streams/$global/update/
target/streams/$global/updateClassifiers/
target/streams/compile/externalDependencyClasspath/
target/streams/compile/managedClasspath/
target/streams/runtime/externalDependencyClasspath/
target/streams/runtime/managedClasspath/
target/streams/test/externalDependencyClasspath/
target/streams/test/managedClasspath/
src/main/resources/
target/scala-2.11/
